<% layout ('teacherLayout') %>
<div class="row">
  <div class="col-md-8 col-sm-8 col-xs-12">



    <div class="row">

    </div>
    <div class="row">

      <!-- Start to do list -->
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>To Do List </h2>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">

            <div class="">
              <ul class="to_do">
                <li>
                  <p>
                    <input type="checkbox" class="flat"> To do list </p>
                </li>

              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- End to do list -->

      <!-- start of weather widget -->
    </div>

<% include ../teacherPartials/javascript %>
