<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Certificate</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- favicon
		============================================ -->

		<!-- Google Fonts
		============================================ -->
	   <link href='https://fonts.googleapis.com/css?family=Sacramento' rel='stylesheet' type='text/css'>
		<!-- Bootstrap CSS
		============================================ -->
        <link rel="stylesheet" href="/css/bootstrap.min.css">
		<!-- style CSS
		============================================ -->
        <link rel="stylesheet" href="/css/cert.css">
		<!-- responsive CSS
		============================================ -->
        <link rel="stylesheet" href="/css/responsive.css">
		<!-- modernizr JS
		============================================ -->
        <script src="/js/modernizr-2.8.3.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
       <!-- full screen contant -->
		<header>
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-10 col-sm-8 col-text-center text-center">
						<div class="main-content">
							<h1>CERTIFICATE of ACHIEVEMENT</h1>
							<h5>This is to certify that</h5>
							<h2><%= cert.ownBy.profile.name %></h2>
							<p>hes completed the course</p>
							<h3><strong><%= cert.course.name %></strong></h3>
							<h6>18 July 2016</h6>
							<div class="existing">
								<a href="#">If your existing certificate does not has the verification code, please download your new certificate with the code from the site.</a>
							</div>
							<div class="left-right">
								<div class="left floatleft">
									<a href="qualitygurus.com">quality gurus . com</a>
								</div>
								<div class="right floatright">
									<img src="/images/icon.png" alt="" />
								</div>
							</div>
							<div class="veri text-right">
								<img src="/images/v.png" alt="" />
								<p>Verification Code</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>
		<!-- jquery
		============================================ -->
        <script src="/js/jquery.min.js"></script>
		<!-- bootstrap JS
		============================================ -->
        <script src="/js/bootstrap.min.js"></script>
		<!-- main JS
		============================================ -->
        <script src="/js/main.js"></script>

    </body>
</html>
